* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

:root {
  --black: #000;
  --primary: #627382;
  --white: #fff;
}

a {
  text-decoration: none;
  color: #627382;
  background-color: transparent;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
  background-color: #fff;
}

.btn {
  display: inline-block;
  text-align: center;
  color: var(--white);
  border: 1px solid transparent;
  padding: 0.35rem 0.85rem;
  border-radius: 0.25rem;
  background-color: #469165;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul li {
  display: inline-block;
  padding: 0.1rem 0.35rem;
}

nav ul li a {
  color: var(--black);
}
