* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #000;
  --primary: #627382;
  --white: #fff;
  --kv: #30b868;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--primary);
  text-align: center;
  background-color: #fff;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #627382;
  background-color: transparent;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

.btn {
  display: inline-block;
  color: var(--white);
  border: 1px solid transparent;
  padding: 0.35rem 0.85rem;
  border-radius: 0.25rem;
  background-color: #469165;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  padding: 1rem 0;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  padding: 0.1rem 0.35rem;
}

header nav ul li a {
  color: var(--black);
}

.hero {
  background-image: url(./assets/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 2rem;
}

.hero {
  color: var(--white);
}
.notice {
  color: #096e33;
  background-color: var(--white);
  padding: 0.25rem 1rem;
  display: inline-block;
  border-radius: 2rem;
}
.slogan {
  text-transform: capitalize;
  color: var(--white);
}
.slogan span {
  color: var(--kv);
}

.hero p {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.twin a {
  min-height: 30px;
}

.twin .kv img {
  margin-left: 10px;
}

.twin .tp {
  background-color: transparent;
  border-color: var(--white);
}

.twin .kv,
.twin .tp img {
  margin-right: 10px;
}

.note {
  background-color: #fbfbfb;
  padding: 3rem 0 0 0;
}

.note-list {
  margin-top: 2rem;
}

.single-note {
  padding: 2.5rem 1rem 0 2rem;
  background-color: var(--white);
  border-radius: 0.35rem;
  margin: 0 0.75rem;
  min-height: 210px;
}

.note-icon {
  background-color: #f95455;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5rem;
  height: 30px;
  width: 30px;
}
.brain {
  text-align: left;
  padding: 3.5rem 0;
}

.brain-content {
  padding-left: 2.5rem;
}

.brain-content h5 {
  color: var(--kv);
  font-weight: 100;
  text-transform: uppercase;
}

.brain-content h2 {
  text-transform: capitalize;
}
.brain-content .list {
  margin-top: 2rem;
}

.brain-content .list li {
  justify-content: left;
  margin-bottom: 0.4rem;
  color: var(--black);
}

.brain-content .list li img {
  margin-right: 0.25rem;
}
